﻿@model IEnumerable<CorvallisOR.Models.Message>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Search", "Forum", FormMethod.Get))
{
    <div class="text-right">
        <input type="text" name="searchString" />
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

<h3>Search results for @ViewBag.SearchString</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(item.Topic.Subject, "Details", new { id = item.MessageID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Go to Forum Home", "Index")