﻿@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.Message</h3>

<p>Today's date is @ViewBag.Date.ToShortDateString().</p>
<p>The time is @ViewBag.Date.ToShortTimeString().</p>

<div class="jumbotron">
    <h1>Corvallis Oregon</h1>
    <h1>Under Construction!</h1>
    <p class="lead">It seems you have found this page during its contruction. Please check back later!</p>
</div>

<div>
    Currently working features:
    <br />
    <br />
    ~ Account Features ~
    <br />
    <ul>
        <li>Log in / Log out</li>
        <li>Register</li>
        <li>Assign / Remove Roles To Accounts</li>
    </ul>
    <br />
    <br />
    ~ Forum Features ~
    <br />
    <ul>
        <li>Post / Edit / Delete (User's Must Be Logged In)</li>
        <li>Register</li>
        <li>Assign / Remove Roles To Accounts</li>
    </ul>
    <br />
    <br />
    ~ Other Notes ~
    <br />
    # Demo Accounts
    <br />
    <ol>
        <li>ID: sWhite Pass: Password1</li>
        <li>ID: bBird  Pass: Password2</li>
        <li>ID: mSimms Pass: Password3</li>
    </ol>
    <br />
    # Interactive Map
    <br />
    # Contacts Page
    <br />
    # About Page
</div>
