﻿@model CorvallisOR.Models.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>Log In</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Log In</button>
    </p>
}

