﻿@model CorvallisOR.Models.UserRoleVM
@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.DropDownListFor(m => m.UserID, Model.UserList, "  -----User List-----  ", new
    {
           onchange = @"
                var form = document.forms[0]; 
                form.action='GetRoles';
                form.submit();"
    })
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h4>Roles for @Model.Name</h4>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>

    <hr />

    <h4>Add Role to @Model.Name</h4>
    using (Html.BeginForm("RoleAddToUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <p>
            @Html.DropDownListFor(m => m.Add, Model.RoleList, "  -----Role List-----  ")
        </p>

        <input type="submit" value="Add" />
    }
    
    <hr />
    <h4>Remove @Model.Name from a Role</h4>

    using (Html.BeginForm("DeleteRoleForUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
                @Html.DropDownListFor(m => m.Delete, Model.Available, "  -----Role List-----  ")
        </p>
        <input type="submit" value="Remove" />
    }
}



